@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  line-height: 1.5;
  font-family: 'Source Sans Pro'; 
  font-weight: normal; 
  font-style: normal;
  font-size: 16px;
  color: #363940;
}
h1,
.h1 {
  margin:0 0 1.2em;
  line-height: 1.2;
  font-weight: 600;
  font-size: 39px;
  color: #191919;
}
h2,
.h2 {
  margin:0 0 0.5em;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  color: #191919;
}
h3,
.h3 {
  margin:0 0 0.8em;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: #191919;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
a:link,
a:visited {
  color: #204987;
}
a:hover {
  text-decoration: none;
}
a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
input:focus,
textarea:focus {
  border-color: #204987;
}
img {
  max-width: 100%;
}
ol {
  padding-left: 0px;
  list-style-type:none;
  counter-reset: item;
}
ol ol {
  padding-left: 15px;
}
ol li {
  margin: 20px 0;
}
ol li:before { 
  content: counters(item, ".") " "; 
  counter-increment: item 
}
.title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
}
.text {
  margin-bottom: 80px;
}
.red-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.red-ul li {
  padding-left: 20px;
  margin-bottom: 25px;
  position: relative;
  line-height: 1.4;
}
.red-ul li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 7px;
  background: #C33422;
}
.red-ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.red-ol li {
  padding-left: 0px;
  margin-bottom: 25px;
  position: relative;
}
.red-ol li::before {
  padding-right: 10px;
  content: counters(item, ".") "."; 
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #C33422;
}
.swiper-button-next:focus, 
.swiper-button-prev:focus,
.swiper-pagination-bullet:focus {
  outline: none;
}
.swiper-container-multirow-column>.swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
}

.content {
  flex: 1;
  overflow: hidden;
}
.header {
  background: linear-gradient(111.91deg, #204987 3.04%, #3366B4 127.86%);
  height: 135px;
  line-height: 1.2;
}
.header.adaptive {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.header.adaptive .head-phones,
.header.adaptive .head-search,
.header.adaptive .profile,
.header.adaptive .head-cart {
  display: none;
}
.header .container {
  margin-top: 0;
  display: flex;
}
.logo {
  margin-top: 5px;
  width: 140px;
}
.head-content {
  width: calc(100% - 140px);
}
.head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 165px;
}
.text-right {
  margin-bottom: 100px;
  margin-left: 200px;
  line-height: 1.5;
}
@media (max-width: 1239px) {
  h1, .h1 {
    font-size: 36px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
  h3, 
  .h3 {
    font-size: 26px;
  }
  .text-right {
    margin-left: 0px;
  }
  ol {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 26px;
  }
  h2,
  .h2 {
    font-size: 22px;
  }
  h3, 
  .h3 {
    font-size: 20px;
  }
  ol {
    padding-left: 0px;
  }
  .title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .header {
    margin-bottom: 20px;
    height: 115px;
  }
  .header.adaptive .head-search,
  .header.adaptive .head-cart {
    display: block;
  }
  .header.adaptive .adaptive-menu .profile {
    display: block;
  }
  .head-icons {
    width: auto;
  }
  .head-content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
  }
  .hide-mobile {
    display: none;
  }
  .text-right {
    margin-bottom: 80px;
  }
  .text {
    margin-bottom: 60px;
  }
}

footer {
  flex-shrink: 0;
  background: #F4F8FB;
  line-height: 1.2;
}
footer .container {
  margin-top: 0;
}
.footer-line {
  background: #204987;
  position: relative;
  font-size: 14px;
  color: #fff;
}
.footer-line__inside {
  margin: auto;
  padding: 20px 55px;
  box-sizing: border-box;
  max-width: 1340px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-line a:link,
.footer-line a:visited {
  color: #fff;
  text-decoration: none;
  text-decoration: none;
}
.footer-line__logo {
  display: flex;
  align-items: center;
}
.footer-line__logo img {
  margin-left: 20px;
}

.footer__info {
  padding: 40px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__info {
    padding: 20px 0 0;
  }
  .footer-line__inside { 
    padding: 20px;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .footer-line__copy {
    margin-bottom: 15px;
    width: 100%;
  }
  .footer-line__policy {
    max-width: 145px;
  }
  .footer-line__logo img {
    margin-left: 10px;
  }
}


.container {
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
  max-width: 1340px;
  width: 100%;
}
.container--main {
  margin-top: 40px;
}
.container--big {
  padding: 0;
  max-width: 1360px;
}
.container-not-padding {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1340px;
  width: 100%;
}
.container-sides {
  display: flex;
  justify-content: space-between;
}
.left-side {
  width: 260px;
}
.content-side {
  width: calc(100% - 315px);
}
.container--cols {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.left-col {
  width: 290px;
}
.rigth-col {
  width: 290px;
}
.center-col {
  width: calc(100% - 640px);
}
.mb-100 {
  margin-bottom: 100px!important;
}
@media (max-width: 1239px) {
  .container {
    padding: 0 30px;
  }
  .container--big {
    padding: 0;
  }
  .left-side {
    margin-bottom: 30px;
    width: 220px;
  }
  .content-side {
    width: calc(100% - 250px);
  }

  .container--cols {
    margin-top: 60px;
    flex-wrap: wrap;
  }
  .left-col {
    margin-bottom: 55px;
    width: 50%;
  }
  .rigth-col {
    /* width: 50%; */
  }
  .center-col {
    width: 86%;
    order: 1;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .container--main {
    margin-top: 0;
  }
  .container--big {
    padding: 0;
  }
  .container-sides {
    display: block;
  }
  .left-side {
    width: 100%;
  }
  .content-side {
    width: 100%;
  }
  .container--cols {
    margin-top: 10px;
  }
  .left-col {
    margin-bottom: 30px;
    width: 100%;
  }
  .rigth-col {
    margin-bottom: 30px;
    width: 100%;
  }
  .center-col {
    width: 100%;
  }
  .mb-100 {
    margin-bottom: 80px!important;
  }
}
/* красивый седлект */
.select2.select2-container {
  width: 100%!important;
}
.select2-container .select2-selection--single {
  padding: 0 30px 0 10px;
  height: 45px;
  line-height: 43px;
  background: transparent;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 45px;
  line-height: 43px;
  background: transparent;
}
.select2-container .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin: 0;
  padding: 0;
  top: 0;
  left: auto;
  right: 0;
  font-size: 0;
  width: 15px;
  height: 100%;
  background: url(../img/select-arr.svg) 50% 50% no-repeat;
  border: none;
}
.select-count {
  color: #ADADAD;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #204987;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable .select-count {
  color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-right: none;
  color: #ADADAD;
}

.select2-results__options[aria-multiselectable="true"] .select2-results__option {
  padding-left: 30px;
  position: relative;
}
.select2-results__options[aria-multiselectable="true"] .select2-results__option::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #DAD8D8;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--selected::before,
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--highlighted.select2-results__option--selectable::before {
  background: #204987;
  border: 1px solid #204987;
}
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--selected::after,
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--highlighted.select2-results__option--selectable::after {
  content: '';
    background: url(../img/checkbox-arr.svg) 50% 50% no-repeat;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
}
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--selected {
  background: transparent;
  color: #191919;
}
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent;
  color: #191919;
}
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--selected .select-count,
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option--highlighted.select2-results__option--selectable .select-count {
  color: #ADADAD;
}
/* /красивый седлект */
/* красивые чекбоксы */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  margin-left: 30px;
  text-transform: none;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #DAD8D8;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  left: -30px;
}
input[type="checkbox"]:checked + label::before {
  background: #204987;
  border: 1px solid #204987;
}
input[type="checkbox"]:checked + label::after {
  content: '';
  background: url(../img/checkbox-arr.svg) 50% 50% no-repeat;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  left: -30px;
  width: 20px;
  height: 20px;
}
/* /красивые чекбоксы */
/* красивые радио-кнопки */
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  position: relative;
  margin-left: 30px;
  text-transform: none;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
}
input[type="radio"] + label::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #DAD8D8;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: -30px;
}
input[type="radio"]:checked + label::before {
  background: #204987;
  border: 1px solid #204987;
}
input[type="radio"]:checked + label::after {
  content: ''; 
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  top: 6px;
  left: -24px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #fff;
}
/* /красивые радио-кнопки */
/* Попапы */
.popup {
  display: none;
}
/* Попапы */
.fancybox-content {
  padding: 35px 30px;
}
/* Формы */
form {}
form input:not([type='checkbox']),
form input:not([type='radio']) {
  padding: 15px;
  border: 1px solid #DAD8D8;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  background: transparent;
}
.form-block {
  margin-bottom: 45px;
}
.form-group {
  margin-bottom: 30px;
  position: relative;
}
.form-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-col .form-group {
  width: calc(50% - 20px);
}
.form-forget:link,
.form-forget:visited {
  text-decoration: none;
  float: right;
  color: #ADADAD;
}
label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #191919;
}
label span {
  color: #C33422;
}
.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.file input {
  border: none;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px 138px 8px 12px;
  background-color: #fff;
  border: 1px solid #DAD8D8;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 5;
  color: #767677;
}
.file-custom img {
  margin-right: 10px;
  vertical-align: bottom;
}
.file-custom:before {
  content: "Выбрать файл";
  padding: 8px ;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #fff;
  border: 1px solid #204987;
  border-radius: 3px;
  width: 130px;
  text-align: center;
  color: #204987;
  z-index: 6;
}
.file-custom:hover:before {
  background-color: #204987;
  color: #fff;
}
.form-group button {
  margin: auto;
  max-width: 320px;
  width: 100%;
  height: 44px;
  line-height: 42px;
  text-align: center;
  background: #204987;
  border: 1px solid #204987;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.form-group button:hover {
  background: #fff;
  color: #204987;
}
.form-group button:disabled {
  background: #EAEAEA;
  color: #A6A6A6;
  pointer-events: none;
  border-color: #EAEAEA;
}
.form-group textarea {
  min-height: 90px;
  padding: 15px;
  border: 1px solid #DAD8D8;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  background: transparent;
}
.form-agree,
.form-agree a:link,
.form-agree a:visited {
  color: #363940;
}
.form-info {
  margin-left: 30px;
  font-size: 14px;
}
.form-info span {
  color: #C4C4C4;
}
.form-info span a:link,
.form-info span a:visited {
  color: #C4C4C4;
}
form input.error:not([type='checkbox']), 
form input.error:not([type='radio'])  {
  border-color: #C33422;
}
label.error {
  position: absolute;
  margin-top: 3px;
  margin-bottom: 0;
  text-transform: none;
  color: #C33422;
}
/* /Формы */
/* /конпки */
.whitebtn:link,
.whitebtn:visited {
  padding: 0 20px;
  display: inline-block;
  height: 44px;
  line-height: 42px;
  border: 1px solid #204987;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  color: #204987;
}
.whitebtn:hover {
  background-color: #204987;
  color: #fff;
}

.bluebtn:link,
.bluebtn:visited {
  padding: 0 20px;
  display: inline-block;
  height: 44px;
  line-height: 42px;
  border: 1px solid #204987;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  background-color: #204987;
  color: #fff;
}
.bluebtn:hover {
  background-color: #fff;
  color: #204987;
}
@media (max-width: 767px) { 
  .form-col {
    display: block;
  }
  .form-col .form-group {
    width: 100%;
  }
}
/* /конпки */
